<div
  class="component-box"
  [ngClass]="{ active: isActive }"
  [style.border]="isActive ? '1px solid ' + color : null"
  [style.background-color]="
    isActive ? 'var(--vscode-activityErrorBadge-foreground)' : null
  "
>
  <div
    class="expander"
    [style.background-color]="
      selectedDeviceOption?.isValid
        ? isActive
          ? 'var(--vscode-activityBar-background)'
          : 'transparent'
        : 'var(--vscode-editorOverviewRuler-errorForeground)'
    "
  >
    <div style="display: flex">
      <mat-icon (click)="toggleStepChannel()" class="h3">
        {{ isStepExpanded ? "expand_more" : "chevron_right" }}
      </mat-icon>
      <h3>
        {{ chanName }}
      </h3>
    </div>
    <button class="delete-button-icon" (click)="removeStep()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div *ngIf="isStepExpanded" class="input-group">
    <div>
      <app-channel-dropdown
        [(ngModel)]="selectedDeviceOption"
        [label]="'ID'"
        [selected]="selectedDeviceOption"
        [options]="deviceOptionList"
        (selectedChange)="onDeviceIDChange($event)"
        *ngIf="selectedDeviceOption"
        name="selectedDeviceOption"
      ></app-channel-dropdown>
    </div>
    <div class="numeric-control">
      <app-input-numeric
        [(ngModel)]="stepPoints.value"
        [label]="'Number of Steps'"
        *ngIf="stepPoints"
        name="stepPoints"
        (inputChange)="submitStepGlobalParamsData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-numeric>
    </div>
    <div>
      <app-input-plain
        [(ngModel)]="stepToSweepDelay.value"
        [label]="'Step-to-Sweep Delay'"
        [unit]="stepToSweepDelay.unit"
        *ngIf="stepToSweepDelay"
        name="stepToSweepDelay"
        (inputChange)="submitStepGlobalParamsData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-plain>
    </div>
    <div class="step-start-stop-container">
      <app-input-plain
        [(ngModel)]="start.value"
        [label]="'Start'"
        [unit]="start.unit"
        *ngIf="start"
        name="start"
        (inputChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-plain>
      <app-input-plain
        [(ngModel)]="stop.value"
        [label]="'Stop'"
        [unit]="stop.unit"
        *ngIf="stop"
        name="stepStop"
        (inputChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-plain>
    </div>
    <div>
      <app-input-toggle
        [(ngModel)]="sourceFunction.value"
        [label]="'Source Function'"
        [options]="sourceFunction.range"
        *ngIf="sourceFunction"
        name="sourceFunction"
        (toggleOptionChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-toggle>
    </div>
    <div>
      <app-dropdown
        [(ngModel)]="sourceRange.value"
        [label]="'Source Range'"
        [selected]="sourceRange.value"
        [options]="sourceRange.range"
        *ngIf="sourceRange"
        name="sourceRange"
        (selectedChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-dropdown>
    </div>
    <div>
      <app-dropdown
        [(ngModel)]="measFunction.value"
        [label]="'Measure Function'"
        [selected]="measFunction.value"
        [options]="measFunction.range"
        *ngIf="measFunction"
        name="measFunction"
        (selectedChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-dropdown>
    </div>
    <div>
      <app-dropdown
        [(ngModel)]="measRange.value"
        [label]="'Measure Range'"
        [selected]="measRange.value"
        [options]="measRange.range"
        *ngIf="measRange"
        name="measRange"
        (selectedChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-dropdown>
    </div>
    <div>
      <app-input-toggle
        [(ngModel)]="style.value"
        [label]="'Style'"
        [options]="style.range"
        *ngIf="style"
        name="style"
        (toggleOptionChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-toggle>
    </div>
    <div class="checkbox">
      <div style="display: inline-flex">
        <input
          type="checkbox"
          id="listStep"
          [(ngModel)]="listStep"
          name="listStep"
          (change)="submitStepGlobalParamsData()"
          style="margin-top: 4.2vh"
          [disabled]="!selectedDeviceOption?.isValid"
        />
        <label for="list" style="margin-top: 4vh; margin-left: 5px">List</label>
      </div>
      <div style="margin-top: 2.7vh; margin-left: 3vw">
        <button
          class="timing"
          (click)="showStepListPopup()"
          [disabled]="!selectedDeviceOption?.isValid"
        >
          Edit
        </button>
        <app-list
          *ngIf="showStepList"
          [listsWithNames]="stepListsWithNames"
          [noOfPointsOrSteps]="stepPoints?.value"
          [isNoOfPointsOrSteps]="selectedDeviceOption?.isValid ?? false"
          (closeList)="closeStepListPopup()"
          (listOfPoints)="listOfStepPointsUpdate($event)"
          (updatedStepsOrPoints)="stepPointsUpdatefromList($event)"
        ></app-list>
      </div>
    </div>
    <div>
      <app-dropdown
        [(ngModel)]="senseMode.value"
        [label]="'Sense Mode'"
        [selected]="senseMode.value"
        [options]="senseMode.range"
        *ngIf="senseMode"
        name="senseMode"
        (selectedChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-dropdown>
    </div>
    <div>
      <app-input-plain
        [(ngModel)]="sourceLimitI.value"
        [label]="'Source Limit I'"
        [unit]="sourceLimitI.unit"
        *ngIf="sourceLimitI"
        name="sourceLimitI"
        (inputChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-plain>
    </div>
    <div>
      <app-input-plain
        [(ngModel)]="sourceLimitV.value"
        [label]="'Source Limit V'"
        [unit]="sourceLimitV.unit"
        *ngIf="sourceLimitV"
        name="sourceLimitV"
        (inputChange)="submitStepData()"
        [disabled]="!selectedDeviceOption?.isValid"
      ></app-input-plain>
    </div>
  </div>
</div>
