<div
  class="component-box"
  [ngClass]="{ active: isActive }"
  [style.border]="isActive ? '1px solid ' + color : null"
  [style.background-color]="isActive ? 'var(--vscode-activityErrorBadge-foreground)' : null"
>
  <div class="expander"
  [style.background-color]="isActive ? 'var(--vscode-activityBar-background)' : 'transparent'"
    >
    <div style="display: flex">
      <mat-icon (click)="toggleStepChannel(chanName)" class="h3">
        {{ expandedStepChannels[chanName] ? "expand_more" : "chevron_right" }}
      </mat-icon>
      <h3>
        {{ chanName }}
      </h3>
    </div>
    <button class="button-icon" (click)="removeStep()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div *ngIf="expandedStepChannels[chanName]" class="input-group">
    <div>
      <dropdown
        [(ngModel)]="deviceID"
        [label]="'ID'"
        [selected]="deviceID"
        [options]="dropdownDeviceList"
        (selectedChange)="onDeviceIDChange($event)"
        *ngIf="deviceID"
        name="deviceID"
      ></dropdown>
    </div>
    <div class="numeric-control">
      <input-numeric
        [(ngModel)]="stepPoints.value"
        [label]="'Number of Steps'"
        *ngIf="stepPoints"
        name="stepPoints"
        (inputChange)="submitStepGlobalParamsData()"
      ></input-numeric>
    </div>
    <div>
      <input-plain
        [(ngModel)]="stepToSweepDelay.value"
        [label]="'Step-to-Sweep Delay'"
        [unit]="stepToSweepDelay.unit"
        *ngIf="stepToSweepDelay"
        name="stepToSweepDelay"
        (inputChange)="submitStepGlobalParamsData()"
      ></input-plain>
    </div>
    <div class="start-stop-container">
      <input-plain
        [(ngModel)]="start.value"
        [label]="'Start'"
        [unit]="start.unit"
        *ngIf="start"
        name="start"
        (inputChange)="onEnter()"
      ></input-plain>
      <input-plain
        [(ngModel)]="stop.value"
        [label]="'Stop'"
        [unit]="stop.unit"
        *ngIf="stop"
        name="stepStop"
        (inputChange)="onEnter()"
      ></input-plain>
    </div>
    <div>
      <app-input-toggle
        [(ngModel)]="sourceFunction.value"
        [label]="'Source Function'"
        [options]="sourceFunction.range"
        *ngIf="sourceFunction"
        name="sourceFunction"
        (toggleOptionChange)="onToggle($event)"
      ></app-input-toggle>
    </div>
    <div>
      <dropdown
        [(ngModel)]="sourceRange.value"
        [label]="'Source Range'"
        [selected]="sourceRange.value"
        [options]="sourceRange.range"
        *ngIf="sourceRange"
        name="sourceRange"
        (selectedChange)="submitStepData()"
      ></dropdown>
    </div>
    <div>
      <dropdown
        [(ngModel)]="measFunction.value"
        [label]="'Meas. Function'"
        [selected]="measFunction.value"
        [options]="measFunction.range"
        *ngIf="measFunction"
        name="measFunction"
        (selectedChange)="submitStepData()"
      ></dropdown>
    </div>
    <div>
      <dropdown
        [(ngModel)]="measRange.value"
        [label]="'Meas. Range'"
        [selected]="measRange.value"
        [options]="measRange.range"
        *ngIf="measRange"
        name="measRange"
        (selectedChange)="submitStepData()"
      ></dropdown>
    </div>
    <div>
      <app-input-toggle
        [(ngModel)]="style.value"
        [label]="'Style'"
        [options]="style.range"
        *ngIf="style"
        name="style"
        (toggleOptionChange)="onToggle($event)"
      ></app-input-toggle>
    </div>
    <div class="checkbox">
      <label for="list">List</label>
      <input
        type="checkbox"
        id="list"
        [(ngModel)]="list"
        name="list"
        (selectionchange)="submitStepGlobalParamsData()"
      />
      <button class="timing">Edit</button>
    </div>
  </div>
</div>
