<div class="sweep-list-popup" cdkDrag>
  <div class="sweep-list-popup-content">
    <div class="sweep-list-popup-header" cdkDragHandle>
      <h3 style="margin: 0">List</h3>
      <mat-icon class="button" (click)="onClose()">close</mat-icon>
    </div>
    <div class="outer-container">
      <div style="width: 14vw">
        <app-input-numeric
          [label]="'Points/Steps'"
          [(ngModel)]="noOfPointsOrSteps"
          name="noOfPointsOrSteps"
          *ngIf="noOfPointsOrSteps"
          (keydown.enter)="emitStepsOrPoints()"
        ></app-input-numeric>
      </div>
      <div class="sweep-list-popup-inputs">
        <table>
          <thead>
            <tr>
              <th
                class="sticky-col sticky-header point-col"
                style="position: sticky !important; z-index: 6"
              >
                Point #
              </th>
              <th *ngFor="let sweep of listsWithNames" class="sticky-header">
                {{ sweep.chanName }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of rowIndices">
              <td class="sticky-col point-col">{{ i + 1 }}</td>
              <td *ngFor="let sweep of listsWithNames">
                <app-input-plain
                  [unit]="sweep.list[i].unit"
                  [(ngModel)]="sweep.list[i].value"
                  (keydown.enter)="onEnter()"
                  style="width: 95%"
                ></app-input-plain>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
