.sweep-list-popup {
  position: fixed;
  top: 10vh;
  left: 40vw;
  background-color: var(--vscode-editor-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sweep-list-popup-content {
  padding: 5px 18px 18px 18px;
  // padding: 18px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.25), 0 1.5px 4px 0 rgba(0,0,0,0.18);;
}

.sweep-list-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  cursor: move;
  z-index: 10;
}

.sweep-list-popup-close {
  font-size: 18px;
  border: none;
  // background: none;
  cursor: pointer;
}

.sweep-list-popup-inputs {
  overflow-x: auto;
  max-width: 30vw;
  overflow-y: auto;
  max-height: 39vh;
  margin-top: 3vh;
  border-top: 1px solid var(--vscode-activityBar-inactiveForeground);

  table {
    table-layout: fixed;
    width: 1vw;
    min-width: 17vw;
    border-spacing: 10px 2px;
    margin-top: 1vh;
  }

  th,
  td {
    width: 8vw;
    min-width: 4vw;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // background: var(--vscode-editor-background);
    z-index: 1;
    text-align: left;
  }

  th.point-col,
  td.point-col {
    width: 4vw !important;
    z-index: 5 !important;
    position: sticky !important
  }

  th.sticky-col, td.sticky-col {
    position: sticky;
    left: 0;
    background: var(--vscode-editor-background);
    z-index: 4;
  }

  th.sticky-header {
    position: sticky;
    top: 0;
    background: var(--vscode-editor-background);
    z-index: 3;
  }
}

.outer-container {
  border: 1px solid var(--vscode-badge-background);
  padding: 15px;
  border-radius: 8px;
}

.button{
  background-color: transparent;
  color: var(--vscode-activityBarBadge-foreground);
}

.button:hover {
  cursor: pointer;
  color: var(--vscode-errorForeground)
}
