<div class="sweep-list-popup">
  <div class="sweep-list-popup-content">
    <div class="sweep-list-popup-header">
      <h3 style="margin: 0;">List</h3>
      <button class="sweep-list-popup-close" (click)="onClose()">&times;</button>
    </div>
    <div class="outer-container">
    <div style="width: 14vw;">
      <ng-container *ngIf="sweepChannels?.length; else stepPointsInput">
        <app-input-numeric
          [label]="'Points'"
          [(ngModel)]="sweepPoints.value"
          *ngIf="sweepPoints"
          name="sweepPoints"
        ></app-input-numeric>
      </ng-container>
      <ng-template #stepPointsInput>
        <app-input-numeric
          [label]="'Steps'"
          [(ngModel)]="sweepPoints.value"
          *ngIf="sweepPoints"
          name="stepPoints"
        ></app-input-numeric>
      </ng-template>
    </div>
    <div class="sweep-list-popup-inputs">
      <table>
        <thead>
          <tr>
            <th></th>
            <!-- Show sweep channel headers if present, else step channel headers -->
            <ng-container *ngIf="sweepChannels?.length; else stepHeaders">
              <th *ngFor="let channel of sweepChannels">
                {{ channel.start_stop_channel.common_chan_attributes.chan_name }}
              </th>
            </ng-container>
            <ng-template #stepHeaders>
              <th *ngFor="let channel of stepChannels">
                {{ channel.start_stop_channel.common_chan_attributes.chan_name }}
              </th>
            </ng-template>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of pointsArray; let i = index">
            <td>{{ i + 1 }}</td>
            <!-- Show sweep channel inputs if present, else step channel inputs -->
            <ng-container *ngIf="sweepChannels?.length; else stepInputs">
              <td *ngFor="let channel of sweepChannels">
                <app-input-plain [unit]="'V'"></app-input-plain>
              </td>
            </ng-container>
            <ng-template #stepInputs>
              <td *ngFor="let channel of stepChannels">
                <app-input-plain [unit]="'V'"></app-input-plain>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

  </div>
</div>
