<div *ngIf="statusMsg">
  <app-banner-display
    [statusMsg]="statusMsg"
    class="banner-display"
  ></app-banner-display>
</div>
<div class="parent-container">
  <div
    class="input-container"
    style="overflow: auto; max-height: 100vh; min-width: min-content; min-height: 40vh;"
  >
    <div class="timing-autorangebox">
      <div [attr.aria-label]="'timingTab'">
        <button
          class="timing"
          (click)="enableTiming()"
          [attr.aria-label]="'timing'"
        >
          Timing
        </button>
        <app-timing
          *ngIf="showTiming"
          [sweepTimingConfig]="sweepTimingConfig"
          (emitTimingData)="updateTimingConfig()"
          (ok)="closeTimingDialog()"
        ></app-timing>
      </div>
      <div>
        <button
          class="open-script"
          (click)="openScript()"
          title="Open generated script"
        >
          Open Script
        </button>
      </div>
    </div>

    <div class="expander">
      <div style="display: flex">
        <button
          (click)="toggleBias()"
          class="h3-button"
          [attr.aria-label]="'BiasExpander'"
        >
          <mat-icon>{{
            isBiasExpanded ? "expand_more" : "chevron_right"
          }}</mat-icon>
        </button>
        <h3>Bias</h3>
      </div>
      <span style="position: relative; display: flex">
        <button
          class="button-icon"
          [attr.aria-label]="'addBias'"
          (click)="addBias()"
          [disabled]="!hasAvailableChannels()"
          (mouseenter)="showBiasTooltip = true"
          (mouseleave)="showBiasTooltip = false"
        >
          <mat-icon>add</mat-icon>
          <app-tooltip
            *ngIf="!hasAvailableChannels() && showBiasTooltip"
            text="No channels available"
            position="bottom"
            [visible]="showBiasTooltip"
          >
          </app-tooltip>
        </button>
      </span>
    </div>
    <div *ngIf="isBiasExpanded">
      <div *ngFor="let biasChannel of biasChannels; let i = index">
        <app-bias
          (focus)="setActiveComponent('bias', i)"
          (blur)="clearActiveComponent()"
          (emitBiasChannelData)="updateBiasChannelsConfig($event)"
          (emitBiasExpanderState)="
            handleChannelExpanderStateChange($event.uuid, $event.isExpanded)
          "
          [isBiasChanExpanded]="
            isChannelExpanded(biasChannel.common_chan_attributes.uuid)
          "
          [biasChannel]="biasChannel"
          [deviceList]="deviceList"
          (emitBiasChannelDelete)="removeBiasChannel($event)"
          (emitBiasChannelIdChange)="updateBiasChannelId($event)"
          [color]="getBiasColor(biasChannel)"
          [isActive]="activeComponent === 'bias' && activeIndex === i"
          (click)="
            setActiveComponent('bias', i);
            scrollToInstance('bias', i);
            scrollToPlotInPlotContainer('bias', i)
          "
        ></app-bias>
      </div>
    </div>

    <div class="expander">
      <div style="display: flex">
        <button
          (click)="toggleStep()"
          class="h3-button"
          [attr.aria-label]="'StepExpander'"
        >
          <mat-icon>{{
            isStepExpanded ? "expand_more" : "chevron_right"
          }}</mat-icon>
        </button>
        <h3>Step</h3>
      </div>
      <span style="position: relative; display: flex">
        <button
          *ngIf="stepChannels.length === 0"
          class="button-icon"
          (click)="addStep()"
          [disabled]="!hasAvailableChannels()"
          (mouseenter)="showStepTooltip = true"
          (mouseleave)="showStepTooltip = false"
        >
          <mat-icon>add</mat-icon>
          <app-tooltip
            *ngIf="!hasAvailableChannels() && showStepTooltip"
            text="No channels available"
            position="bottom"
            [visible]="showStepTooltip"
          >
          </app-tooltip>
        </button>
      </span>
    </div>
    <div *ngIf="isStepExpanded">
      <div *ngFor="let stepChannel of stepChannels; let i = index">
        <div>
          <app-step
            (emitStepData)="updateStepChannelsConfig($event)"
            (emitStepGlobalParameters)="updateStepGlobalParameters($event)"
            (emitStepExpanderState)="
              handleChannelExpanderStateChange(
                stepChannel.start_stop_channel.common_chan_attributes.uuid,
                $event.isExpanded
              )
            "
            [isStepExpanded]="
              isChannelExpanded(
                stepChannel.start_stop_channel.common_chan_attributes.uuid
              )
            "
            [stepChannel]="stepChannel"
            [stepGlobalParameters]="stepGlobalParameters"
            [deviceList]="deviceList"
            (emitStepChannelDelete)="removeStepChannel($event)"
            (emitStepChannelIdChange)="updateStepChannelId($event)"
            [color]="getStepColor(stepChannel)"
            [isActive]="activeComponent === 'step' && activeIndex === i"
            (click)="
              setActiveComponent('step', i);
              scrollToInstance('step', i);
              scrollToPlotInPlotContainer('step', i)
            "
            [showStepList]="
              showStepListStates[
                stepChannel.start_stop_channel.common_chan_attributes.uuid
              ] || false
            "
            (showStepListChange)="
              onShowStepListChange($event.stepId, $event.value)
            "
          ></app-step>
        </div>
      </div>
    </div>

    <div class="expander">
      <div style="display: flex">
        <button
          (click)="toggleSweep()"
          class="h3-button"
          [attr.aria-label]="'SweepExpander'"
        >
          <mat-icon>{{
            isSweepExpanded ? "expand_more" : "chevron_right"
          }}</mat-icon>
        </button>
        <h3>Sweep</h3>
      </div>
      <span style="position: relative; display: flex">
        <button
          class="button-icon"
          [attr.aria-label]="'addSweep'"
          (click)="addSweep()"
          [disabled]="!hasAvailableChannels()"
          (mouseenter)="showSweepTooltip = true"
          (mouseleave)="showSweepTooltip = false"
        >
          <mat-icon>add</mat-icon>
          <app-tooltip
            *ngIf="!hasAvailableChannels() && showSweepTooltip"
            text="No channels available"
            position="bottom"
            [visible]="showSweepTooltip"
          >
          </app-tooltip>
        </button>
      </span>
    </div>
    <div *ngIf="isSweepExpanded">
      <div class="input-group">
        <div class="numeric-control">
          <app-input-numeric
            [(ngModel)]="sweepPoints.value"
            [label]="'Number of Points'"
            *ngIf="sweepPoints"
            name="sweepPoints"
            automationID="SweepPoints"
            (inputChange)="updateSweepGlobalParameters()"
          ></app-input-numeric>
        </div>
        <!-- <div>
        </div> -->
        <div class="checkbox">
          <div style="display: inline-flex">
            <input
              type="checkbox"
              id="isListSweep"
              [(ngModel)]="isListSweep"
              [attr.aria-label]="'listSweep'"
              name="isListSweep"
              (change)="updateSweepGlobalParameters()"
            />
            <label for="list" style="margin-top: 4.5vh; margin-left: 5px"
              >List</label
            >
          </div>
          <div style="margin-top: 2.9vh">
            <button class="timing" (click)="enableList()">Edit</button>
            <app-list
              *ngIf="showList"
              [listsWithNames]="sweepListsWithNames"
              [noOfPointsOrSteps]="sweepPoints?.value"
              (closeList)="closeList()"
              (listOfPoints)="listOfSweepPointsUpdate($event)"
              (updatedStepsOrPoints)="sweepPointsUpdatefromList($event)"
            ></app-list>
          </div>
        </div>
      </div>
      <div *ngFor="let sweepChannel of sweepChannels; let i = index">
        <div *ngIf="isSweepExpanded">
          <app-sweep
            (emitSweepData)="updateSweepChannelsConfig($event)"
            [sweepChannel]="sweepChannel"
            [deviceList]="deviceList"
            (emitSweepExpanderState)="
              handleChannelExpanderStateChange(
                sweepChannel.start_stop_channel.common_chan_attributes.uuid,
                $event.isExpanded
              )
            "
            [isSweepExpanded]="
              isChannelExpanded(
                sweepChannel.start_stop_channel.common_chan_attributes.uuid
              )
            "
            (emitSweepChannelDelete)="removeSweepChannel($event)"
            (emitSweepChannelIdChange)="updateSweepChannelId($event)"
            [color]="getSweepColor(sweepChannel)"
            [isActive]="activeComponent === 'sweep' && activeIndex === i"
            (click)="
              setActiveComponent('sweep', i);
              scrollToInstance('sweep', i);
              scrollToPlotInPlotContainer('sweep', i)
            "
          ></app-sweep>
        </div>
      </div>
    </div>
  </div>

  <div class="plot-container" style="overflow: auto; max-height: 100vh">
    <app-plot-container
      [biasChannels]="biasChannels"
      [stepChannels]="stepChannels"
      [sweepChannels]="sweepChannels"
      [stepGlobalParameters]="stepGlobalParameters"
      [sweepGlobalParameters]="sweepGlobalParameters"
      [colorMap]="colorMap"
      [activeComponent]="activeComponent"
      [activeIndex]="activeIndex"
    ></app-plot-container>
  </div>
</div>
