<div *ngFor="let biasChannel of biasChannels; let i = index">
  <div>
    <app-plot-bias
      [biasChannel]="biasChannel"
      [plotDataX]="plotDataX"
      [plotConfig]="plotConfig"
      [isActive]="activeComponent === 'bias' && activeIndex === i"
      [activeStyle]="getActiveStyle(biasChannel.common_chan_attributes.uuid, 'bias', i)"
      [color]="getColor(biasChannel.common_chan_attributes.uuid)"
      ></app-plot-bias>
  </div>
</div>

<div *ngFor="let stepChannel of stepChannels; let i = index">
  <div>
    <app-plot-step
      [stepChannel]="stepChannel"
      [stepGlobalParameters]="stepGlobalParameters"
      [stepPointsList]="listofStepPoints"
      [plotDataX]="plotDataX"
      [plotConfig]="plotConfig"
      [isActive]="activeComponent === 'step' && activeIndex === i"
      [activeStyle]="getActiveStyle(stepChannel.start_stop_channel.common_chan_attributes.uuid, 'step', i)"
      [color]="getColor(stepChannel.start_stop_channel.common_chan_attributes.uuid)"
    ></app-plot-step>
  </div>
</div>

<div *ngFor="let sweepChannel of sweepChannels; let i = index">
  <div>
    <app-plot-sweep
      [sweepChannel]="sweepChannel"
      [sweepGlobalParameters]="sweepGlobalParameters"
      [stepGlobalParameters]="stepGlobalParameters"
      [sweepPointsList]="listofSweepPoints"
      [plotDataX]="plotDataX"
      [plotConfig]="plotConfig"
      [isActive]="activeComponent === 'sweep' && activeIndex === i"
      [activeStyle]="getActiveStyle(sweepChannel.start_stop_channel.common_chan_attributes.uuid, 'sweep', i)"
      [color]="getColor(sweepChannel.start_stop_channel.common_chan_attributes.uuid)"
    ></app-plot-sweep>
  </div>
</div>
