<div>
  <div
    class="plot-item"
    [ngStyle]="{
      border: isActive
        ? '1px solid ' + activeStyle.backgroundColor
        : '1px solid var(--vscode-editorWidget-border)'
        }"
    >
    <div class="plot-info" [ngStyle]="activeStyle">
      <p>Name: <strong>{{ chanName }}</strong></p>
      <span class="vertical-line"></span>
      <p>ID: <strong>{{ deviceID }}</strong></p>
      <!-- <span class="vertical-line"></span>
      <p> Model:<strong>{{ deviceID }}</strong></p> -->
    </div>
    <div [id]="sweepDivID" class="plot-graph">
    </div>
  </div>
</div>
