<div>
  <div
    class="plot-item"
    [ngStyle]="{
      border: isActive
        ? '1px solid ' + activeStyle.backgroundColor
        : '1px solid var(--vscode-editorWidget-border)',
      backgroundColor: isActive
        ? 'var(--vscode-activityErrorBadge-foreground)'
        : 'var(--vscode-editor-background)'
        }"
    >
    <div class="plot-info" [ngStyle]="activeStyle">
      <p>{{ chanName }}</p>
      <span class="vertical-line"></span>
      <p>{{ deviceID }}</p>
      <!-- <span class="vertical-line"></span>
      <p> Model:<strong>{{ deviceID }}</strong></p> -->
    </div>
    <div [id]="sweepDivID" class="plot-graph">
    </div>
  </div>
</div>
