<div class="popup">
  <div class="popup-content" cdkDrag>
    <!-- <span class="close" (click)="close_Timing()">&times;</span> -->
    <div>
      <div class="popup-header">
        <h3 id="timingLabel">Timing</h3>
        <mat-icon (click)="okTiming()" class="button">close</mat-icon>
      </div>
      <div class="measure-count">
        <div>
          <app-input-numeric
          automationID="measureCount"
          [(ngModel)]="measureCount.value"
          [label]="'Measure Count (per step)'"
          *ngIf="measureCount"
          (inputChange)="submitTimingData()"
          ></app-input-numeric>
        </div>

      </div>
    </div>
    <h3 id="SMUTimingLabel">SMU Timing</h3>
    <div id="SMUTiming" class="popup-container">
      <div>
        <app-input-toggle
          [(ngModel)]="nplcType.value"
          [label]="'Selected Type'"
          [options]="nplcType.range"
          *ngIf="nplcType"
          name="nplcType"
          (toggleOptionChange)="submitTimingData()"
        ></app-input-toggle>
      </div>
      <div *ngIf="nplcType?.value === 'NPLC'">
        <app-input-numeric
          automationID="nplc"
          [(ngModel)]="nplc.value"
          [label]="'NPLC'"
          *ngIf="nplc"
          (inputChange)="submitTimingData()"
        ></app-input-numeric>
      </div>
      <div *ngIf="nplcType?.value === 'Aperture'">
        <app-input-plain
          automationID="aperture"
          [(ngModel)]="aperture.value"
          [label]="'Aperture'"
          [unit]="aperture.unit"
          *ngIf="aperture"
          (inputChange)="submitTimingData()"
        ></app-input-plain>
      </div>
      <div>
        <app-dropdown
          automationID="sourceAutoDelay"
          [(ngModel)]="sourceAutoDelay.value"
          [label]="'Source Auto Delay'"
          [selected]="sourceAutoDelay.value"
          [options]="sourceAutoDelay.range"
          *ngIf="sourceAutoDelay"
          (selectedChange)="submitTimingData()"
        ></app-dropdown>
      </div>
      <div [ngClass]="{ disabled: sourceAutoDelay?.value !== 'OFF' }">
        <app-input-plain
          automationID="sourceDelay"
          [(ngModel)]="sourceDelay.value"
          [label]="'Source Delay'"
          [unit]="sourceDelay.unit"
          *ngIf="sourceDelay"
          (inputChange)="submitTimingData()"
        ></app-input-plain>
      </div>
      <div>
        <app-dropdown
          automationID="measureAutoDelay"
          [(ngModel)]="measureAutoDelay.value"
          [label]="'Measure Auto Delay'"
          [selected]="measureAutoDelay.value"
          [options]="measureAutoDelay.range"
          *ngIf="measureAutoDelay"
          (selectedChange)="submitTimingData()"
        ></app-dropdown>
      </div>
      <div [ngClass]="{ disabled: measureAutoDelay?.value !== 'OFF' }">
        <app-input-plain
          automationID="measureDelay"
          [(ngModel)]="measureDelay.value"
          [label]="'Measure Delay'"
          [unit]="measureDelay.unit"
          *ngIf="measureDelay"
          (inputChange)="submitTimingData()"
        ></app-input-plain>
      </div>
    </div>
    <h3 id="PSUTimingLabel">PSU Timing</h3>
    <div id="PSUTiming" class="popup-container">
      <div>
        <app-dropdown
          automationID="rate"
          [(ngModel)]="rate.value"
          [label]="'Rate'"
          [selected]="rate.value"
          [options]="rate.range"
          *ngIf="rate"
          (selectedChange)="submitTimingData()"
        ></app-dropdown>
      </div>
    </div>
  </div>
</div>
