<div class="popup">
  <div class="popup-content">
    <!-- <span class="close" (click)="close_Timing()">&times;</span> -->
    <div>
      <app-input-numeric
        [(ngModel)]="measureCount.value"
        [label]="'Measure Count (per step)'"
        *ngIf="measureCount"
        (inputChange)="submitTimingData()"
      ></app-input-numeric>
    </div>
    <div class="window-switching-buttons">
      <button (click)="selectWindow('window1')">SMU Timing</button>
      <button (click)="selectWindow('window2')">PSU Timing</button>
    </div>
    <div *ngIf="selectedWindow === 'window1'" class="popup-container">
      <div>
        <app-input-toggle
          [(ngModel)]="nplcType.value"
          [label]="'Selected Type'"
          [options]="nplcType.range"
          *ngIf="nplcType"
          name="nplcType"
          (toggleOptionChange)="submitTimingData()"
        ></app-input-toggle>
      </div>
      <div *ngIf="nplcType?.value === 'NPLC'">
        <app-input-numeric
          [(ngModel)]="nplc.value"
          [label]="'NPLC'"
          *ngIf="nplc"
          (inputChange)="submitTimingData()"
        ></app-input-numeric>
      </div>
      <div *ngIf="nplcType?.value === 'Aperture'">
        <app-input-plain
          [(ngModel)]="aperture.value"
          [label]="'Aperture'"
          [unit]="aperture.unit"
          *ngIf="aperture"
          (inputChange)="submitTimingData()"
        ></app-input-plain>
      </div>
      <div>
        <app-dropdown
          [(ngModel)]="sourceAutoDelay.value"
          [label]="'Source Auto Delay'"
          [selected]="sourceAutoDelay.value"
          [options]="sourceAutoDelay.range"
          *ngIf="sourceAutoDelay"
          (selectedChange)="submitTimingData()"
        ></app-dropdown>
      </div>
      <div [ngClass]="{ disabled: sourceAutoDelay?.value !== 'OFF' }">
        <app-input-plain
          [(ngModel)]="sourceDelay.value"
          [label]="'Source Delay'"
          [unit]="sourceDelay.unit"
          *ngIf="sourceDelay"
          (inputChange)="submitTimingData()"
        ></app-input-plain>
      </div>
      <div>
        <app-dropdown
          [(ngModel)]="measureAutoDelay.value"
          [label]="'Measure Auto Delay'"
          [selected]="measureAutoDelay.value"
          [options]="measureAutoDelay.range"
          *ngIf="measureAutoDelay"
          (selectedChange)="submitTimingData()"
        ></app-dropdown>
      </div>
      <div [ngClass]="{ disabled: measureAutoDelay?.value !== 'OFF' }">
        <app-input-plain
          [(ngModel)]="measureDelay.value"
          [label]="'Measure Delay'"
          [unit]="measureDelay.unit"
          *ngIf="measureDelay"
          (inputChange)="submitTimingData()"
        ></app-input-plain>
      </div>
    </div>
    <div *ngIf="selectedWindow === 'window2'" class="popup-container">
      <div>
        <app-dropdown
          [(ngModel)]="rate.value"
          [label]="'Rate'"
          [selected]="rate.value"
          [options]="rate.range"
          *ngIf="rate"
          (selectedChange)="submitTimingData()"
        ></app-dropdown>
      </div>
    </div>
    <button (click)="okTiming()" class="button">OK</button>
  </div>
</div>
