<div class="toggle-container">
  <span *ngIf="label" class="toggle-label">{{ label }}</span>
  <div class="toggle-options-box">
    <table [attr.aria-label]="automationID">
      <tr>
        <td
          *ngFor="let option of options"
          class="toggle-option"
          [class.selected]="option === selectedOption"
          [class.disabled]="disabled"
          [attr.aria-label]="option + '1'"
          (click)="toggleOption(option)"
        >
          {{ option }}
        </td>
      </tr>
    </table>
  </div>
</div>
