:host {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

// :host select {
//   width: 100%;
//   background-color: var(--vscode-input-background);
//   color: var(--vscode-input-foreground);
//   border: 1px solid var(--vscode-editorWidget-border);
//   border-radius: 5px;
//   padding: 4px;
// }

.channel-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.channel-dropdown label {
  margin-bottom: 5px;
}

.channel-dropdown select {
  width: 100%;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 5px;
  padding: 4px;
}

.channel-dropdown select.invalid-select {
  border: 2px solid var(--vscode-editorOverviewRuler-errorForeground);
}

.invalid-option {
  color: var(--vscode-editorOverviewRuler-errorForeground);
}
